flows.json
[{"id":"86843e11299320fd","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b12623b00ed1f618","type":"tab","label":"mongodb","disabled":false,"info":"","env":[]},{"id":"6e4495bba50fa158","type":"axis-preset","name":"","address":"","protocol":"http"},{"id":"155186891e179bae","type":"mongodb","hostname":"mongodb","topology":"direct","connectOptions":"","port":"27017","db":"log","name":""},{"id":"38d262e9ce37d674","type":"ui_tab","name":"Test","icon":"dashboard","disabled":false,"hidden":false},{"id":"37edf9541afba29c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Common Axis Mongo","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"01aca73d47dd33fb","type":"ui_group","name":"Table","tab":"38d262e9ce37d674","order":1,"disp":true,"width":"14","collapse":false,"className":""},{"id":"a00d96872a052911","type":"inject","z":"86843e11299320fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":100,"wires":[["5daee981a45c842e"]]},{"id":"5daee981a45c842e","type":"axis-device","z":"86843e11299320fd","name":"","preset":"6e4495bba50fa158","action":"Device Info","cgi":"","data":"","options":"","filename":"","x":450,"y":100,"wires":[["e9627d549edd65b7","85120138bf52fa53"]]},{"id":"95cb83109d956cbf","type":"debug","z":"86843e11299320fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"b6f06f41fb5c94fd","type":"comment","z":"86843e11299320fd","name":"Add/Set your camera address and credentials in the settings of Device Info under \"Device\"","info":"","x":500,"y":40,"wires":[]},{"id":"e9627d549edd65b7","type":"switch","z":"86843e11299320fd","name":"OK","property":"error","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":100,"wires":[["95cb83109d956cbf"]]},{"id":"85120138bf52fa53","type":"switch","z":"86843e11299320fd","name":"Error","property":"error","propertyType":"msg","rules":[{"t":"neq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":140,"wires":[["25004eac732d1c66"]]},{"id":"25004eac732d1c66","type":"debug","z":"86843e11299320fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":140,"wires":[]},{"id":"07ba2f21e7ad6d16","type":"inject","z":"b12623b00ed1f618","name":"List","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":120,"wires":[["b7c3318db1f626a8"]]},{"id":"b7c3318db1f626a8","type":"mongodb in","z":"b12623b00ed1f618","mongodb":"155186891e179bae","name":"","collection":"test","operation":"aggregate","x":530,"y":120,"wires":[["cb906631e893f05f"]]},{"id":"cb906631e893f05f","type":"debug","z":"b12623b00ed1f618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"30ec458eeb495dbe","type":"inject","z":"b12623b00ed1f618","name":"Insert 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":180,"wires":[["6eed5339d49e333a"]]},{"id":"6eed5339d49e333a","type":"function","z":"b12623b00ed1f618","name":"data","func":"msg.payload = {\n    name: \"John\",\n    age: 30,\n    single: true,\n    address: \"123 Highway\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":180,"wires":[["ebda1794d3ad6621"]]},{"id":"ebda1794d3ad6621","type":"mongodb out","z":"b12623b00ed1f618","mongodb":"155186891e179bae","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":710,"y":180,"wires":[]},{"id":"1f60bced827f345d","type":"inject","z":"b12623b00ed1f618","name":"Remove all data in test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":280,"wires":[["452dd53fb57d6bc9"]]},{"id":"452dd53fb57d6bc9","type":"function","z":"b12623b00ed1f618","name":"All","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":280,"wires":[["265f21e744a5a39a"]]},{"id":"265f21e744a5a39a","type":"mongodb out","z":"b12623b00ed1f618","mongodb":"155186891e179bae","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":710,"y":280,"wires":[]},{"id":"bd48fae76bc1a28c","type":"ui_button","z":"b12623b00ed1f618","name":"","group":"01aca73d47dd33fb","order":1,"width":0,"height":0,"passthru":false,"label":"refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":440,"wires":[["fe1bf549564c9094"]]},{"id":"fe1bf549564c9094","type":"mongodb in","z":"b12623b00ed1f618","mongodb":"155186891e179bae","name":"","collection":"test","operation":"aggregate","x":430,"y":440,"wires":[["7cdd5cacdd01924d"]]},{"id":"7cdd5cacdd01924d","type":"ui_table","z":"b12623b00ed1f618","group":"01aca73d47dd33fb","name":"","order":2,"width":0,"height":0,"columns":[{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"age","title":"Age","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"single","title":"Single","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":650,"y":440,"wires":[]},{"id":"dc7c47938e4f2bec","type":"inject","z":"b12623b00ed1f618","name":"Insert 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":220,"wires":[["ad9008589d9bec2f"]]},{"id":"ad9008589d9bec2f","type":"function","z":"b12623b00ed1f618","name":"data","func":"msg.payload = {\n    name: \"Sally\",\n    age: 45,\n    single: false,\n    address: \"456 Some Rd.\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":220,"wires":[["ebda1794d3ad6621"]]}]