flows.json
[{"id":"86843e11299320fd","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6e4495bba50fa158","type":"axis-preset","name":"","address":"10.13.8.221","protocol":"http"},{"id":"a00d96872a052911","type":"inject","z":"86843e11299320fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":100,"wires":[["5daee981a45c842e"]]},{"id":"5daee981a45c842e","type":"axis-device","z":"86843e11299320fd","name":"","preset":"6e4495bba50fa158","action":"Device Info","cgi":"","data":"","options":"","filename":"","x":450,"y":100,"wires":[["e9627d549edd65b7","85120138bf52fa53"]]},{"id":"95cb83109d956cbf","type":"debug","z":"86843e11299320fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"b6f06f41fb5c94fd","type":"comment","z":"86843e11299320fd","name":"Set your camera address and credentials in the settings of Device Info under \"Device\"","info":"","x":480,"y":40,"wires":[]},{"id":"e9627d549edd65b7","type":"switch","z":"86843e11299320fd","name":"OK","property":"error","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":100,"wires":[["95cb83109d956cbf"]]},{"id":"85120138bf52fa53","type":"switch","z":"86843e11299320fd","name":"Error","property":"error","propertyType":"msg","rules":[{"t":"neq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":140,"wires":[["25004eac732d1c66"]]},{"id":"25004eac732d1c66","type":"debug","z":"86843e11299320fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":140,"wires":[]}]